/* Navigation Bar */
.navbar {
    padding: 1% 0%;
    margin: 0% 0%;
    background-color: #e7e7e7;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 7%;
    border-bottom: 2px solid #22196b;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
    font-size: 200%;
    color: #22196b;
    margin: 0;
    padding: 0;
    margin-top: 1%;
    margin-left: 12%; 
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    padding-right: 5%;
}

.nav-link {
    position: relative; 
    color: #22196b; 
    margin: 0 15px; 
    text-decoration: none;
}

/* Underline effect on hover for links */
.nav-link::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #22196b;
    transition: width 0.3s;
}

.nav-link:hover::before {
    width: 100%;
}

/* Media Queries*/

/* Responsive Adjustments for phones (max-width 480px) */
@media (max-width: 480px) {

    .navbar h1 {
        text-align: center;
        font-size: 0%;
    }

    .nav-links {
        padding-right: 0;
        justify-content: center;
        font-size:70%;
    }


}

@media (min-width: 481px) and (max-width: 767px) {
    .nav-links {
        padding-right: 0;
        justify-content: center;
        font-size: 90%;
    }

}


/* Responsive Adjustments for smaller screens (max-width 768px) */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }

    .navbar h1 {
        margin-left: 0;
        text-align: center;
        font-size: 100%;
    }

    .nav-links {
        padding-right: 0;
        justify-content: center;
    }

    .nav-link {
        margin: 0 5%;
    }
}

/* Responsive Adjustments for medium screens (min-width 768px, max-width 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        height: 8%;
    }

    .navbar h1 {
        font-size: 175%;
        margin-left: 5%;
    }

    .nav-link {
        margin: 0 20px;
    }
}

/* Responsive Adjustments for large screens (min-width 1440px) */
@media (min-width: 1440px) {
    .navbar {
        height: 7%;
    }

    .navbar h1 {
        font-size: 200%;
        margin-left: 12%;
    }

    .nav-link {
        margin: 0 15px;
    }
}

/* Responsive Adjustments for extra large screens (min-width 1920px) */
@media (min-width: 1920px) {
    .navbar h1 {
        font-size: 220%;
    }
}
