/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7e7e7; /* Updated to match country-style.css */
    color: #22196b;
    line-height: 1.6;
}

/* Image Gallery */
.gallery-grid {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1% 0;
    margin: 4% 3%;
    margin-top: 8%;
    flex-wrap: wrap;
}

.gallery-grid img {
    width: 30%;
    margin: 10px;
    box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

/* SVG Map Section */
.map-section {
    padding: 40px 20px;
    background-color: #e7e7e7; /* Updated to match country-style.css */
    text-align: center;
    box-shadow: 0px 0px 50px 200px rgba(0, 0, 0, 0.1); /* Matching white box style */
}

.map-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #22196b; /* Consistent title color */
}

#svg-map {
    max-width: 100%;
    height: auto;
    background-color: white;
    padding: 2%;
    width: 1000px;
    height: 660px;
    box-shadow: 0px 0px 11px 13px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .animated-text-section h2 {
        font-size: 24px;
    }

    .gallery-grid img {
        max-width: 100%;
    }
    
    .gallery-grid {
        flex-direction: column;
    }
    
    .map-section h2 {
        font-size: 22px;
    }
}
